#drumMatrix {
  height: 200px;
  width: 800px;
  float: left;
}

#synthMatrix {
  height: 200px;
  width: 800px;
  float: left;
}

#tempo {
  width: 100px;
  height: 170px;
  clear: both;
  float: right;
}

.drumSelector {
  float: right;
  margin: 5px;
  height: 80%;
  clear: right;
}

#drumVolume {
  width: 300px;
  height: 200px;
  /*padding: 25px;
  box-sizing: content-box;*/
}

.container {
  float: left;
  position: relative;
}

.container label {
  position: absolute;
  left: 5px;
}

.container select {
  position: absolute;
  left: 50px;
}

.container button {
  position: absolute;
  left: 5px;
  top: 130px;
}

#modeLabel {
  top: 10px;
}

#modeSelector {
}

#keyLabel {
  top: 50px;
}

#keySelector {
  top: 40px;
}

#accidentalLabel {
  top: 90px;
}

#accidentalSelector {
  top: 80px;
  left: 90px;
}

#octaveLabel {
  top: 130px;
}

#octaveUp {
  left: 60px;
}
#octaveDown {
  left: 90px;
}
.startbuttons {
  clear: left;
}
